.App {
  text-align: center;
}

input[type='text'] {
  margin-right: 10px;
}

li {
  list-style-type: none;
  margin: 5px 0;
}
.header{
  margin-top: 2%;
  margin-left: 1%;
  
  /* margin-right: 2000PX; */
}
.button-style {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-style:hover {
  background-color: #0056b3;
}